<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Head", false)

<environment include="Development, Staging">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</environment>
  
<environment include="Production">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdccccccccn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
          crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.css"
          asp-suppress-fallback-integrity="true">
</environment>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</body>
</html>
